.custom-tooltip-wrapper {
    position: relative;
    display: inline-block;
  }
  
  .custom-tooltip-content {
    position: absolute;
    background-color: #005DB4;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    white-space: normal;
    z-index: 9999;
    font-size: 12px;
  
    &.custom-tooltip-top {
      bottom: calc(100% - 4px);
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
      min-width: 10px;
      max-width: 500px;
  
      &::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        border-width: 5px 5px 0 5px;
        border-color: #005DB4 transparent transparent transparent;
        border-style: solid;
      }
    }
  
    &.custom-tooltip-topLeft {
      bottom: calc(100% - 4px);
      left: 10%;
      transform: translateX(-50%);
  
      &::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        border-width: 5px 5px 0 5px;
        border-color: #005DB4 transparent transparent transparent;
        border-style: solid;
      }
    }
  
    &.custom-tooltip-topRight {
      bottom: calc(100% + 10px);
      left: 80%;
      transform: translateX(-50%);
      white-space: nowrap;
      min-width: 10px;
      max-width: 500px;
  
      &::after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 50%;
        transform: translateX(-50%);
        border-width: 5px 5px 0 5px;
        border-color: #005DB4 transparent transparent transparent;
        border-style: solid;
      }
    }
  
    &.custom-tooltip-bottom {
      top: calc(100% + 10px);
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
      min-width: 10px;
      max-width: 300px;
  
  
      &::after {
        content: "";
        position: absolute;
        top: -5px;
        left: 50%;
        transform: translateX(-50%);
        border-width: 0 5px 5px 5px;
        border-color: transparent transparent #005DB4 transparent;
        border-style: solid;
      }
    }
  
    &.custom-tooltip-bottomLeft {
      top: calc(100% + 10px);
      left: 10%;
      transform: translateX(-50%);
  
      &::after {
        content: "";
        position: absolute;
        top: -5px;
        left: 50%;
        transform: translateX(-50%);
        border-width: 0 5px 5px 5px;
        border-color: transparent transparent #005DB4 transparent;
        border-style: solid;
      }
    }
  
    &.custom-tooltip-left {
      top: 50%;
      right: calc(100% + 10px);
      transform: translateY(-50%);
  
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: -5px;
        transform: translateY(-50%);
        border-width: 5px 0 5px 5px;
        border-color: transparent transparent transparent #005DB4;
        border-style: solid;
      }
    }
  
    &.custom-tooltip-right {
      top: 50%;
      left: calc(100% + 10px);
      transform: translateY(-50%);
  
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: -5px;
        transform: translateY(-50%);
        border-width: 5px 5px 5px 0;
        border-color: transparent #005DB4 transparent transparent;
        border-style: solid;
      }
    }
  }
  